.image-block__overlay {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: table;
  width: -moz-max-content;
  max-width: 100%;
  box-sizing: border-box;
  position: absolute;
  color: #FFF;
  margin: 0;
}

.image-block {
  position: relative;
  text-align: center;

  img {
    width: 100%;
    max-width: 1400px;
  }

  figcaption {
    text-align: left;
    padding: 20px 0;
  }
}
