.nav {
  margin: 0;
  padding: 0;
  list-style: none;

  > * {
    position: relative;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    display: inline-block;
    padding: 0 8px;
  }
}

.nav__item {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border .15s ease;

  &:hover {
    border-bottom: 2px solid #000;
  }
}
