.overview__title {
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.overview__item {
  max-width: 800px;
  margin: 0 auto 60px auto;

  h2 {
    margin-top: 0;
  }

  img {
    max-width: 200px;
    margin-right: 30px;
  }
}
