.pag {
  text-align: center;
  margin: 30px 0;
}

.pag__dot {
  text-indent: -9999px;
  border: 0;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 5px 6px;
  background-color: #ccc;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;

  &--current {
    background-color: #000;
  }
}
