.product {
  @include container;
}

.product__price {
  font-size: 1.7rem;
  margin: 15px 0 30px;
}

.product__breadcrumb {
  margin: 0 0 25px;
}

.product__buy-form {
  margin: 0 0 25px;
}

.product__related {
  padding: 120px 0 0 0;
}
