.slider {
  width: 100%;
  position: relative;
}

.slider__frame {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.slider__slides {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    width: 100%;
    position: relative;
    display: inline-block;

    section {
      font-size: 1.2rem;
      line-height: 1;
    }

    * {
      white-space: normal;
    }
  }
}
