.subnav {
  display: none;
  position: absolute;
  left: 8px;
  background: #FFF;
  z-index: 10;
  padding-top: 15px;
  width: 300px;

  li {
    padding: 2px 0;
  }

  a {
    @extend .nav__item;
  }
}

.subnav--open {
  display: block;
}

.subnav__container {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0px;
  width: 100%;
  min-height: 230px;
  background: #FFF;
  display: none;
  z-index: 9;
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.1);
}
