h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  line-height: 1.2;

  a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid transparent;
    transition: border .15s ease;

    &:hover {
      border-bottom: 2px solid #000;
    }
  }
}

h1 {
  font-size: 2.6rem;
  margin: 15px 0;
}

h2 {
  font-size: 2rem;
  margin: 10px 0;
}

h3 {
  font-size: 1.6rem;
  margin: 6px 0;
}

h4 {
  font-size: 1.3rem;
  margin: 6px 0;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.1rem;
}
