input {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  padding: 16px 10px 13px;
  margin: 0;
  line-height: 1;
  outline: none;
  border: 1px solid #CCC;
}
